@font-face {
  font-family: "DIN Round Pro Medium";
  src: url("../fonts/DIN_Round_Pro_Medium.woff");
}
@font-face {
  font-family: "DIN Round Pro";
  src: url("../fonts/DIN_Round_Pro_Regular.woff");
}