.icon {
  display: block;

  background-position: center center;
  background-repeat: no-repeat;
}

.icon-clock{
  width: 121px;
  height: 121px;
  background-image: url("../images/icon-clock.png");
}
.icon-calendar{
  width: 121px;
  height: 121px;
  background-image: url("../images/icon-calendar.png");
}
.icon-list{
  width: 121px;
  height: 121px;
  background-image: url("../images/icon-list.png");
}