.title-primary {
  font-family: $global-font-family-soft;
  font-size: 30px;
  font-weight: 400;
  line-height: $global-baseline * 5;
  text-align: center;
  margin-bottom: 35px;
}

.title-secondary {
  font-family: $global-font-family-soft;
  font-size: 28px;
  font-weight: 400;
  line-height: $global-baseline * 2;
  text-align: center;
  margin-bottom: 35px;
}